.wpas-view-groups{
	width: 700px;
	float: left;
}

ul.subsubsub{
	margin: 0;
}

select[name=seo_filter]{
	display: none;
}

#site_manage_meta .inside{
	background: #F8F8F8;
	padding: 0;
	margin: 0;
}

#site_manage_meta .inside #awp_tabs{
	background: #eaeaea;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

#site_manage_meta .inside #awp_tabs .awp-tabber{
	background: #eaeaea;
	
	width: 20%;
	max-width: 175px;
	float: left;
	padding: 0 0 10px;
	margin: 0;
	
	overflow: visible;
	zoom: 1;
}

#site_manage_meta .inside #awp_tabs .awp-tab{
	position: relative;
	min-height: 35px;
	border: none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	float: none;
	padding: 0;
	margin: 0;
}

#site_manage_meta .inside #awp_tabs .wp-menu-separator{
	min-height: 0px;
	width: 100%;
}

#site_manage_meta .inside #awp_tabs .awp-tab a{
	background-color: #f0f0f0;
	font-weight: bold;
	font-size: 11px;
	color: #21759b;
	
	padding: 9px 9px;
	display: block;
	width: 100%;
	margin: 0;
	
	border: 0;
	border-top: 1px solid #f9f9f9;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	
	-webkit-box-shadow: inset 0 0px 0 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 0px 0 0px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 0px 0 0px rgba(255, 255, 255, 0.5);
}

#site_manage_meta .inside #awp_tabs .awp-tab a:hover{
	color: #d54e21;
}

#site_manage_meta .inside #awp_tabs li.ui-tabs-active a,
#site_manage_meta .inside #awp_tabs li.ui-state-active a{
	text-shadow: 0 -1px 0 #333;
	color: #fff !important;
	border-top: 0;
	border-bottom-color: #6d6d6d;
	
	background: #777;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: linear-gradient(to top,#6d6d6d,#808080);
}

#site_manage_meta .inside #awp_tabs .ui-state-disabled{
	opacity: 1;
	filter: Alpha(Opacity=100);
}

#site_manage_meta .inside #awp_tabs .ui-state-disabled a,
#site_manage_meta .inside #awp_tabs li.not-tab a{
	color: #000 !important;
	
	border-top: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}

#site_manage_meta .inside #awp_tabs .awp-tab .wp-menu-arrow > div{
	display: none;
	position: absolute;
	top: 7px;
	left: 2px;
	width: 14px;
	height: 15px;
	-moz-transform: matrix(-0.6,1,0.6,1,0,0);
	-webkit-transform: matrix(-0.6,1,0.6,1,0,0);
	-o-transform: matrix(-0.6,1,0.6,1,0,0);
	-ms-transform: matrix(-0.6,1,0.6,1,0,0);
	transform: matrix(-0.6,1,0.6,1,0,0);
}

#site_manage_meta .inside #awp_tabs li.ui-tabs-active .wp-menu-arrow,
#site_manage_meta .inside #awp_tabs li.ui-tabs-active .wp-menu-arrow > div{
	background: #777;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: linear-gradient(to top,#6d6d6d,#808080);
}

#site_manage_meta .inside #awp_tabs li.ui-tabs-active .wp-menu-arrow,
#site_manage_meta .inside #awp_tabs li.ui-tabs-active .wp-menu-arrow > div{
	display: block;
}

#site_manage_meta .inside #awp_tabs li.ui-tabs-active .wp-menu-arrow{
	right: 150px;
	top: 2px;
}

.awp-panels{
	float: left;
	width: 80%;
	max-width: 715px;
}

.awp-panels .panel{
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 5px 10px;
}

#poststuff .awp-panels .panel .awp-settins-title{
	border-bottom: solid 1px #d5d5d5;
	margin-bottom: 0;
	margin-top: 0;
}

#poststuff .awp-panels .panel .awp-settins-subtitle{
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wpas-control-loader{
	background: rgba(33,40,52,0.7);
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	
	text-align: center;
}

.wpas-control-loader img{
	position: absolute;
	top: 59%;
}

.panel .awp-control-group{
	border-top: solid 1px #fff;
	border-bottom: solid 1px #d5d5d5;
	
	position: relative;
	padding: 10px;
}

.panel .awp-control-group > label{
	float: left;
	width: 140px;
	margin-right: 10px;
	
	font-weight: normal;
	font-weight: bold;
	line-height: 16px;
	font-size: 11px;
	color: #000;
}

.panel .awp-control-group .awp-controls{
	float: left;
	width: 80%;
	max-width: 400px;
	position: relative;
}

.awp-controls label{
	vertical-align: middle;
	line-height: 14px;
	font-size: 12px;
	color: #aaa;
}

.awp-controls .regular-text,
.awp-controls .regular-upload{
	background: none repeat scroll 0 0 #F4F4F4;
	color: #444444;
	font-size: 11px;
	margin: 0 0 10px;
	padding: 5px;
	width: 80%;
}

.awp-controls .regular-text.score{
	width: 58%;
}

.awp-controls .regular-text.small,
.awp-controls .regular-upload.small{
	width: 65%;
}

.awp-controls .wpas-content{
	width: 78%;
}

.awp-controls .regular-checkbox{
	vertical-align: middle;
}

.awp-controls .regular-select{
	background: none repeat scroll 0 0 #F4F4F4;
	color: #444444;
	font-size: 11px;
	margin: 0 0 10px;
	width: 80%;
}

.awp-controls .regular-textarea{
	background: none repeat scroll 0 0 #F4F4F4;
	color: #444444;
	font-size: 11px;
	margin: 0 0 10px;
	width: 90%;
}

.awp-controls .button.disabled{
	color: #ccc;
}

.awp-controls .description{
	color: #aaa;
	display: block;
	font-size: 10px;
}

.wrap{
	position: relative;
	z-index: 1;
}

#screen-meta-links .screen-meta-toggle{
	z-index: 9;
}

.awp-js-popup{
	position: absolute;
	-moz-border-radius: 12px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 24px;
	text-align: center;
	display: none;
	z-index: 10;
}

.awp-js-popup .awp-popup-message{
	background: url(../images/happy.png) 20px 50% no-repeat;
	padding: 30px 30px 30px 70px;
}

.awp-popup-error .awp-popup-message{
	background: url(../images/sad.png) 20px 50% no-repeat;
}

.of-option-image{
	max-width: 360px;
	height: auto;
}