#primary{
	float: left;
	width: 64.89%;
}

#secondary{
	float: right;
	width: 31.91%;
}

#site-reports > div{
	margin-bottom: 10px;
	padding: 10px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#site-reports > div.info{
	border: solid 1px #C99;
	background: #E9D3BE;
}

#site-reports > div.export-report{
	border: solid 1px #06F;
	background: #BCDBFE;
}